.bg-black {
    color: white;
    background: black;
}

#main-header img {
    width: 100%;
    height: 100%;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (min-width: 1199px) {
    .port-item {
        padding: 3em !important;
    }
}