body {
    overflow-x: hidden;
}

.about-img {
    margin-top: -50px;
}

.carousel-item {
    height: 250px;
}

.carousel-image-1 {
    background-image: url("https://source.unsplash.com/1600x900/?nature,water");
    background-size: cover;
}

.carousel-image-2 {
    background-image: url("https://source.unsplash.com/1600x900/?nature,soil");
    background-size: cover;
}

.carousel-image-3 {
    background-image: url("https://source.unsplash.com/1600x900/?nature,air");
    background-size: cover;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: #FFFFFF 3px solid;
}

#faq button {
    color: #FFFFFF;
    text-decoration: none;
}

#faq .card-body,
#faq .card-header {
    background-color: #333;
    
}

#home-heading {
    position: relative;
    min-height: 200px;
    background-image: url("https://source.unsplash.com/1600x900/?nature,tree");
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #FFFFFF;
}

#main-footer {
    background-color: #000;
    color: #fff;
}

#page-header {
    height: 200px;
    background-image: url("https://source.unsplash.com/1600x900/?nature,window");
    background-attachment: fixed;
    color: #FFFFFF;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
}

#video-play {
    position: relative;
    min-height: 200px;
    background-image: url("https://source.unsplash.com/1600x900/?nature,stars");
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #FFFFFF;
}

#video-play a {
    color: #FFFFFF;
}