body {
    background: #333333;
    color: #FFFFFF;
}

.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}

#home-section {
    background-image: url("https://source.unsplash.com/random");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 770px;
}

#home-section .card-form {
    opacity: 0.7;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 770px;
    background-color: rgba(0, 0, 0, 0.7);
}

#home-section .fa-around {
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
}

#home-section .home-inner {
    padding-top: 200px;
}