$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);

body {
  margin-top: 80px;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background-color: #FFFFFF;
}

#about .info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #DDDDDD solid;
}

#authors,
#boxes {
  img {
    margin-top: -50px;
  }
}

#showcase {
  position: relative;
  background-image: url("https://source.unsplash.com/300x500/?nature,water");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 340px;

  .blur {
    filter: blur(5px);
  }

  .primary-overlay {
    background-color: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 4rem;
    }
  }

  .mb-responsive {
    margin-bottom: 1rem;
  }
}